doctype html
html
	head
		title Aperio
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300', rel='stylesheet', type='text/css')
		link(href="/css/main.css")

	body
		h1 Aperio
		if logged_in
			h2 Hello #{ user.real_name } 
				a(href="/paper/1") View a random paper?
		else
			h2 Not logged in. 
				a(href="/login") Login now?
		p An open database for academic papers that encourages peer review.