extends ./paper
block navigation
	if paper
		p
			a(href="/paper/"+paper.id) Summary 
			| | Discussion 

block paper_content

	.shadow.editor
		.side
			img.icon(src="/img/save.png")
			img.icon(src="/img/tick.png")
			img.icon(src="/img/view.png")
		p editor

	if responses.length>0
		each response in responses
			.response.shadow
				.side
					img(src="/img/arrow.png", style="-webkit-transform: rotate(270deg);")
					img(src="/img/arrow.png", style="-webkit-transform: rotate(90deg);")
				.response-header
					h2 user: #{response.user_id}
				button(type="button" class="showhide-btn") Show
				div(style="display:none;")
					.response-content
						p #{response.content}
						.comments
							h3 Comments (not working yet)
							.comment
								span
									b Thomas Le Feuvre 
									| I don't think I agree 
									span(style="color:grey;") - 17th Apr 14
							.comment
								span
									b Thomas Le Feuvre 
									| Oh wait, i do!
									span(style="color:grey;") - 18th Apr 14
							.comment
								span
									b Caroline Wood 
									| haha
									span(style="color:grey;") - 18th Apr 14
	else
		p there are no responses to display