extends ./layout.jade
block content
	p sdfhksdjhfsdfkjh
	.row
		.col-md-6
			if pdf_url
				p displaying pdf
			else
				p no pdf_url
		.supplied-md-6
			if comments
				each comment in comments
					p
						b #{comment.username}
						em #{comment.content}
			else
				p
					em There are no comments to display