extends ./paper
block navigation
	if paper
		p
			a(href="/paper/"+paper.id) Summary 
			| | Discussion 

block paper_content

	form
		.shadow
			textarea(name="response_content" id="#response-textarea")


	if responses
		each response in responses
			.response.shadow
				.side
					img(src="/img/arrow.png", style="-webkit-transform: rotate(270deg);", class="icon-btn")
					img(src="/img/arrow.png", style="-webkit-transform: rotate(90deg);", class="icon-btn")
				.response-header
					h2 user: #{response.user_id}
				button(type="button" class="showhide-btn") Show
				div(style="display:none;")
					.response-content
						p #{response.content}
						.comments
							h3 Comments
							//-each comment in response.comments
								.comment
									span
										b Thomas Le Feuvre 
										| I don't think I agree 
										span(style="color:grey;") - 17th Apr 14
	else
		p there are no responses to display