extends ./layout
block content
	.shadow
		h1 #{user.real_name} (#{user.user_name})
		h3 Publications
		each paper in publications
			p #{paper.title} (
				a(href=paper.location) View
				| |
				a(href="/paper/"+paper.id) Summary
				| |
				a(href="/paper/"+paper.id+"/discussion") Discussion
				| )
	