body {
  font-family: Open Sans;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4; }

nav {
  background-color: #8dbbff; }

.response {
  margin: auto;
  width: 800px; }
  .response .side {
    position: relative;
    height: 0px;
    width: 32px;
    left: -52px;
    text-align: center; }

.shadow {
  border-bottom: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 800px;
  margin: auto;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px; }

.editor {
  min-height: 150px; }
  .editor .side {
    position: relative;
    height: 0px;
    width: 32px;
    left: -52px;
    text-align: center; }
    .editor .side .icon {
      float: left; }

.icon-btn:hover {
  background: -webkit-gradient(radial, center center, 0, center center, 16, from(#888888), to(#f4f4f4)); }

#response-textarea {
  width: 100%; }
