$lightlight-grey: #f4f4f4;
$light-grey: #e6e6e6;
$blue: #8dbbff;

body {
	font-family: 'Open Sans';
	padding:0;
	margin: 0;
	background-color: $lightlight-grey;
}

h1,h2 { font-family: 'Roboto Slab'; margin-top: 0; }

nav {
	background-color: #fff;
	z-index: 10;
	height: 32px;
	border-bottom: 1px solid $light-grey;
	position: fixed;
	top: 0;
	width: 100%;
}



.response {


	margin: auto;
	width: 800px;

	.side {
		position: relative;
		height:0px;
		width:32px;
		left:-52px;
		text-align: center;
	}

	.response {

	}

	.comments {

	}
}


.shadow {
	border-bottom: 1px solid $light-grey;
	border-radius: 4px;
	width: 800px;
	margin: auto;
	background-color: #ffffff;
	padding:10px;
	margin-bottom:10px;
	margin-top:10px;
}

.editor {
	min-height: 150px;
	.side {
		position: relative;
		height:0px;
		width:32px;
		left:-52px;
		text-align: center;
		.icon {
			float: left;
		}
	}
}

.icon-btn:hover {
	background: -webkit-gradient(radial, center center, 0, center center, 16, from(#888), to($lightlight-grey));
}

#response-textarea {
	width: 100%;
}

form input[type="submit"], button {
  width: 60px;
  height: 32px;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  background-color: #5cad5c;
  border: none; }
form input[type="submit"]:hover, button:hover {
  background-color: #339933; }
form input {
  font-family: inherit; }



.pill
{
	background-color: #ccc;
}

.pill.active
{
	background-color:#4791FF;
}

.pill:hover
{
	background-color:#1975ff;
}

.smallcaps
{
	text-transform: uppercase;
	font-size: 0.8em;
	color: #999;
}